<form class="form-group" #form="ngForm" (ngSubmit)="onSave()" #monFormulairej=ngForm autocomplete="off">
    <nb-card class="scrollWindow">
        <nb-card-body>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nom" class="label">Nom</label>
                        <input type="text" class="form-control" #nom="ngModel" [(ngModel)]="agentParc.nom" nbInput
                            required placeholder="Nom" name="nom" (change)="genererPseudoMdp()"/>
                    </div>
                    <ng-container *ngIf="nom.invalid && nom.touched">
                        <p class="caption status-danger" *ngIf="nom.errors?.required">
                            Le nom est obligatoire!
                        </p>
                    </ng-container>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prenom" class="label">Prénom</label>
                        <input type="text" class="form-control" #prenom="ngModel" [(ngModel)]="agentParc.prenom" nbInput
                            required placeholder="Prenom" name="prenom" (change)="genererPseudoMdp()"/>
                    </div>
                    <ng-container *ngIf="prenom.invalid && prenom.touched">
                        <p class="caption status-danger" *ngIf="prenom.errors?.required">
                            Le prenom est obligatoire!
                        </p>
                    </ng-container>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="telephone" class="label">Télephone</label>
                        <input type="text" class="form-control"
                            pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{3})(( x| ext)\d{1,5}){0,1}$"
                            #telformateur="ngModel" [(ngModel)]="agentParc.tel" nbInput required
                            placeholder="Télephone" name="telephone" (change)="genererPseudoMdp()"/>
                    </div>
                    <ng-container *ngIf="telformateur.invalid && telformateur.touched">
                        <p style="top: 7px; position: relative;" class="caption status-danger"
                            *ngIf="telformateur.errors?.required">
                            Vous devez indiquer le Téléphone
                        </p>
                        <p style="top: 7px; position: relative;" class="caption status-danger"
                            *ngIf="telformateur.errors?.pattern">
                            Téléphone n'est pas valide
                        </p>
                    </ng-container>                   
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="addresse" class="label">Addresse</label>
                        <input type="text" class="form-control" [(ngModel)]="agentParc.addresse" nbInput
                            placeholder="Addresse" name="addresse" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="label">E-mail</label>
                        <input type="email" #email="ngModel" class="form-control" [(ngModel)]="agentParc.email" nbInput
                            required pattern=".+@.+\..+" placeholder="Email" name="email" (change)="genererPseudoMdp()"/>
                    </div>
                    <ng-container *ngIf="email.invalid && email.touched">
                        <p class="caption status-danger" *ngIf="email.errors?.required">
                            L'email est obligatoire!
                        </p>
                        <p class="caption status-danger" *ngIf="email.errors?.pattern">
                            L'email doit être correcte!
                        </p>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pseudo" class="label">Pseudo</label>
                        <input type="text" class="form-control" nbInput required placeholder="Pseudo" name="pseudo" [(ngModel)]="user.pseudo"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mdp" class="label">Mot de passe</label>
                        <input type="text" class="form-control" nbInput placeholder="Mot de passe" name="mdp" [(ngModel)]="user.mdp"/>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:right;">
                <button nbButton hero status="warning" (click)="fermer();" >Annuler</button>
                <button nbButton hero status="success" type="submit" style="margin-left: 30px;" [disabled]=!monFormulairej.valid>{{T}}</button>
                
            </div>
        </nb-card-footer>
    </nb-card>
</form>