<nb-card>
    <nb-card-body>
        <p-confirmDialog [style]="{width: '30%'}" [baseZIndex]="10000"></p-confirmDialog>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
                <button  status="success" (click)="openWindow()" nbButton *ngIf="role != 'Agent'">Ajouter</button>
            </div>
        </div>
        <nb-card>
            <nb-card-header>
                Liste des conteneurs
            </nb-card-header>

            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="confirmDelete($event)" (custom)="onCustom($event)"></ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>